* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}
.sidebar {
    background-color: rgb(24, 38, 70);
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #eaeee3;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;

}
.sidebar a:hover {
    background: tomato;
    transition: .3s;
}

.soctial {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.soctial a {
    text-align: center;
}

.rightside {
    border: 1px solid red;
}
