{% extends 'base.html' %}
{% block title %}
cart
{% endblock %}
{% block body %}
<p>cart</p>
<div class="container">

    <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">image</th>
      <th scope="col">product</th>
      <th scope="col">size</th>
        <th scope="col">color</th>
        <th scope="col">price</th>
      <th scope="col">quantity</th>
        <th scope="col">total price</th>
        <th scope="col">remove</th>
    </tr>
  </thead>
  <tbody>



{{ cart }}

  {% for c in cart %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><img src="{{c.product.image.url}}" style="width: 100px"></td>
      <td>{{ c.product.name }}</td>
      <td>{{c.variant.size_variant.name}}</td>
      <td>{{c.variant.color_variant.name}}</td>
      <td>
          {% if c.product.status != 'None' %}
            {{c.variant.total_price}}
          {% else %}
            {{ c.product.total_price }}
          {% endif %}
      </td>
<td>{{c.quantity}}</td><p>sxxxx</p>

<td>{% if c.product.status != 'None' %}
      {% widthratio c.variant.total_price 1 c.quantity %}
      {% else %}
        {% widthratio c.product.total_price 1 c.quantity %}
      {% endif %}</td>

    </tr>
 <td>

   <a href="{% url 'cart:remove_cart' c.id %}">remove</a>
 </td>
  {% endfor %}
  <tr>
    <td>total</td>
    <td colspan="7">
      {{ total }}
    </td>
  </tr>
  </tbody>
</table>
    <div class="row"> <form method="post" action="{% url 'order:order_create' %}">
        {% csrf_token %}
        <div class="card">
            <label for="">email:
                <input type="text" name="email" value="{{ user.email }}" required>
            </label>
            <label for="">name:
                <input type="text" name="f_name" value="{{ user.firs_name }}"required>
            </label>
            <label for="">last name:
                <input type="text" name="l_name" value="{{ user.last_name }}"required>
            </label>
            <label for="">address:
                <input type="text" name="address" value="{{ user.profile.address }}"required>
            </label>

        </div>
        <button type="submit" class="btn btn-danger">order</button>
    </form></div>
</div>
{% endblock %}