{% extends "main.html" %}
{% load static %}
{% block style_href %}{% static 'css/home.css' %}{% endblock %}
{% block content %}
<div class="home-container container">
  <!-- sidebar -->
  <div>
    <h3>Browse Topics</h3>
    <ul>
      <li><a href="{% url 'home' %}">All</a></li>
      {% for topic in topics %}
        <li><a href="{% url "home" %}?q={{ topic.name }}">{{ topic.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <!-- rooms -->
  <div>
    <h5>Total Rooms: {{ room_count }} </h5>
    <ul>
      {% for room in rooms %}
        <li>
          <span>@{{ room.host.username }}</span>
          <a href="{% url 'room' room.id %}">{{ room.name }}</a>
          <small>{{ room.topic.name }}</small>
          {% if room.host == user %}
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>
          {% endif %}
        </li>
        <hr>
      {% endfor %}
    </ul>
  </div>

</div>

{% endblock %}

