{% extends "main.html" %}

{% block content %}
<div class="grid-3-1">
  <div>
    <h1>Room</h1>
    <p>{{ room.description }}</p>
      {% for message in room_messages %}
        <div>
          <small>@{{ message.user }} {{ message.created|timesince }} age </small>
          <p>{{ message.body }}</p>
          <a href="{% url 'delete-message' message.id %}">Delete</a>
        </div>
        <hr>
      {% endfor %}
    <div class="comment-form"> 
      <form method="POST">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your message">
      </form>
    </div>
  </div>
  <aside>
    {% for user in participants %}
      <p>{{ user.username }}</p>
    {% endfor %}
  </aside>
</div>
{% endblock %}

