{% extends 'base.html' %}
{% block title %}
صفحه محصولات
{% endblock %}
{% block body %}
<h1>all pfrug</h1>
<form  action="{% url 'home:product' %}">

    {{ form }}
    <button type="submit">Search</button>
</form>
{% for ppp in category%}
<a href="{{ ppp.get_absolute_url }}">{{ ppp.name }}</a>
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  </button>
  <ul class="dropdown-menu">
      {% for info in ppp.sub.all %}
    <li><a class="dropdown-item" href="{{ info.get_absolute_url }}">{{ info.name }}</a></li>
      {% endfor %}
  </ul>
</div>
{% endfor %}
 {% for ppp in products%}
   <h1>{{ ppp.name }}</h1>
   <a href="{% url 'home:detail' ppp.id %}">
   <img src="{{ ppp.image.url }}" style="width: 200px" alt="">
    </a>
{% if ppp.discounting %}
<h4 style="text-decoration:line-through">{{ppp.unit_price}}</h4>
<h3>{{ppp.total_price}}</h3>
{% else %}
<h3>{{ ppp.total_price }}</h3>
 {% endif %}
 {% endfor %}
{% endblock %}



