@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  width: 60%;
  margin: 0 auto;
  font-family: "Open Sans";
}

h1 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}
