html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans" ;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Gobal styles */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.submit-btn {
  background-color: #e6a346;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #143535;
  color: white;
  border-bottom: 3px solid #e6a346;
  padding: 15px 0;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;  
}

header li {
  display: inline;
  padding: 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 13px;
}

header .highlight, header .current {
  color: #e6a346;
  font-weight: bold;
}

header a:hover {
  color: #e6a346;
}

/* Showcase */
#showcase {
  background-color: tomato;
  background: url("../img/showcase.jpg") no-repeat;
  background-size: cover;
  min-height: 250px;


}
#showcase h1 {
  font-size: 2rem;
  color: black;
  margin-top: 50px;
  margin-bottom: 0;
}

#showcase p {
  margin-top: 0;
  width: 55%;
  color: #131516;
}


/* newsletter */
#newsletter {
  background-color: #143535;
  padding: 20px;
}
#newsletter h1 {
  margin: 0;
  float: left;
  color: white;
}

#newsletter form {
  float: right;
  margin-top: 5px;
}

#newsletter input[type="email"] {
  border: none;
  padding: 5px 10px;
  
}


/* Boxes */
#boxes {
  margin-top: 10px;
  width: 100%;
  margin: auto;
}

#boxes .box {
  float: left;
  width: 30%;
  margin: 10px;
  text-align: center;
}

#boxes .box img {
  width: 50%;
}

/* Footer */
footer {
  padding: 20px;
  margin-top: 20px;
  background-color: #143535;
  
}

footer p {
  text-align: center;
  color: white;
}

/* About page */
article#main-col {
  float: left;
  width: 65%;
}

aside#sidebar{
  float: right;
  width: 30%;
}

.dark {
  background: #171718;
  color: white;
  padding: 20px;
  margin-top: 10px;
}

/* Services page */
